SUPABASE_URL=https://xeluydwpgiddbamysgyu.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhlbHV5ZHdwZ2lkZGJhbXlzZ3l1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ4MjA4MTAsImV4cCI6MjA5MDM5NjgxMH0.wsm-_78wg-EmjbJVprthqxhVt5q9TatTFoBBq4tznpE
# Get from Supabase dashboard → Project Settings → API → service_role key
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhlbHV5ZHdwZ2lkZGJhbXlzZ3l1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDgyMDgxMCwiZXhwIjoyMDkwMzk2ODEwfQ.ghteWo4NHqH7vmXpMdiDZ3IGrkkLfhywP5AAkZ5cz88
SUPABASE_DB_URL=postgresql://postgres.[Stefanbaschet1722!]@db.xeluydwpgiddbamysgyu.supabase.co:5432/postgres
PRIVATE_KEY_PATH=../keys/private.pem
PUBLIC_KEY_PATH=../keys/public.pem
FRONTEND_ORIGIN=http://localhost:3000
ENVIRONMENT=development
# Resend email provider — get API key from resend.com
RESEND_API_KEY=re_cENrXnX5_25Ekfas3oNypHTLNw3eJv7Ey
RESEND_FROM_EMAIL=noreply@romantechnologies.com
RESEND_FROM_NAME=Roman Technologies CMS
